body {
    background-color: black;
}

.navbar-fixed {
    position: absolute;
    z-index: 999999999;
}

.nav-wrapper {
    background-color: transparent !important;
    /*background-color: black !important;*/
    color: black;
}

a {
    color: white !important;
    font-family: 'BankGothicLight', sans-serif;
}

button {
    width: 200px;
    border: none;
    background: none;
    padding: 0;
}

.logopic {
    float: right;
    color: white;
    margin-right: 20px;
    margin-top: 3px;
}

#slide-out {
    background: rgba(0, 0, 0, .3);
    width: 170px !important;
}

.sidebut {
    color: rgb(255, 255, 255) !important;
    font-size: 15px;
}

.row {
    margin-top: 60px;
}

#nav-mobile {
    background-color: black !important;
    display: inline-block;
}

.parallax-container {
/*#mainpic {*/
    width: 100%;
    line-height: 0;
    /*background: rgba(0, 0, 0, .6);*/
    /*overflow: hidden;*/
    /*box-sizing: inherit;*/
    /*height: 630px;*/
    /*background-color: black;*/
    /*opacity: 0.9;*/
    /*background: url('../images/JSF Clothing-1.jpg') no-repeat;*/
    background-attachment: fixed;
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-container .section {
    width: 100%;
}

.section.no-pad-bot {
    padding-bottom: 0;
}

.section {
    padding-top: 1rem;
}

.parallax {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /*opacity: 0.8;*/
}

h1 {
    color: 666666;
    font-weight: 900;
    text-align: right;
    font-family: 'BankGothicMedium', sans-serif;
    font-size: 50px;
    padding-left: 350px;
    padding-top: 170px;
}

#title {
    width: 850px;
}

h4 {
    font-family: 'BankGothicMedium', sans-serif;
}

p {
    color: white;
    font-family: 'BankGothicLight', sans-serif;
}

.videoclips {
    width: 100%;
    background-color: black;
    margin-top: 70px;
    height: 550px;
    /*padding-left: 20px;*/
}

#cloned {
    height: 400px;
    margin-left: 50px;
}

#video-playlist {
    /*border: white solid 1px;*/
    width: 325px;
    float: right;
    /*margin-top: 70px;*/
}

.allvids {
    background-color: black;
    height: 550px;
}

h5 {
    color: white;
    font-family: 'BankGothicMedium', sans-serif;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border: black;
}

button:hover {
    background-color: #28a9e1;
}

button:active {
    background-color: #28a9e1;
}

button:focus {
    background-color: black !important;
}

.wakeboarding {
    width: 500px;
}

.page-footer {
    padding-top: 0px !important;
    margin-top: 0px !important;
    background-color: black !important;
}


/*.contactinfo {
    margin-top: 150px;
}
*/

.icons {
    /*margin-left: 320px;*/
    float: left;
}

.icons1 {
    width: 30px;
}

.email {
    font-family: 'BankGothicLight', sans-serif;
    color: white;
    margin-left: 460px;
    font-size: 25px;
}

.copyright {
    margin-left: 22%;
    width: 400px;
    font-family: 'BankGothicLight', sans-serif;
}

.developed {
    margin-right: 30px;
    font-family: 'BankGothicLight', sans-serif;
}
