body {
    background-color: black;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}


/*===================================================================
    NAVBAR
=====================================================================*/

.navbar-fixed {
    position: absolute;
    z-index: 999999999;
}

.nav-wrapper {
    /*background-color: transparent !important;*/
    background-color: black !important;
    color: black;
}

a {
    color: white !important;
    font-family: 'BankGothicLight', sans-serif;
}

button {
    width: 200px;
    border: none;
    background: none;
    padding: 0;
}

.logopic {
    float: right;
    color: white;
    margin-right: 20px;
    margin-top: 3px;
}


/*===================================================================
    SLIDE OUT NAVBAR
=====================================================================*/

#slide-out {
    background: rgba(0, 0, 0, .3);
    width: 170px !important;
}

.sidebut {
    color: rgb(255, 255, 255) !important;
    font-size: 15px;
}

.row {
    margin-top: 60px;
    /*margin-bottom: 60px;*/
}

#nav-mobile {
    background-color: black !important;
    display: inline-block;
}


/*===================================================================
    VIDEOS SECTION
=====================================================================*/

p {
    color: white;
    font-family: 'BankGothicLight', sans-serif;
}

#cloned {
    height: 400px;
    margin-left: 50px;
}

.allvids {
    background-color: black;
    height: 100%;
    padding-top: 5%;
}

h5 {
    color: white;
    font-family: 'BankGothicMedium', sans-serif;
}

button:hover {
    opacity: 1;
}

/*button:active {
    background-color: #28a9e1;
}*/

button:focus {
    background-color: black !important;
}

.mikey {
    width: 50%;
    padding-right: 0;
    padding-left: 0;
    float: left;
    opacity: .5;
}

.mikeyimg {
    width: 100%;
}

.jim {
    width: 50%;
    padding-right: 0;
    padding-left: 0;
    float: right;
    opacity: .5;
}

.jimimg {
    width: 100%
}

.parks {
    width: 45%;
    padding-right: 0;
    padding-left: 0;
}

.louie {
    width: 45%;
    padding-right: 0;
    padding-left: 0;
}

.wakeboarding {
    width: 100%;
    height: 100%;
}

/*===================================================================
    MODAL
=====================================================================*/

#modal1 {
    width:70%;
    height: 80%;
    margin-top: 5%;
}

.modal {
    background-color: black !important;
}

.modal-content {
    background-color: black;
    overflow: hidden;
}

.modal-footer {
    background-color: black !important;
    /*height: 5% !important;*/
}

/*===================================================================
    FOOTER
=====================================================================*/

.page-footer {
    padding-top: 0px !important;
    margin-top: 0px !important;
    background-color: black !important;
}

/*.contactinfo {
    margin-top: 150px;
}
*/

.icons {
    /*margin-left: 320px;*/
    float: left;
}

.icons1 {
    width: 30px;
}

.email {
    font-family: 'BankGothicLight', sans-serif;
    color: white;
    margin-left: 460px;
    font-size: 25px;
}

.copyright {
    margin-left: 22%;
    width: 400px;
    font-family: 'BankGothicLight', sans-serif;
}

.developed {
    margin-right: 30px;
    font-family: 'BankGothicLight', sans-serif;
}